.section-clients{
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    }
    
.client-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
}

.client-list .client-item{
    margin: 15px;
    width: calc((100% - 4*15px)/2);

    @media screen and (min-width: 768px) {
        width: calc((100% - 6*15px)/3); 
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 12*15px)/6); 
    }
}
    
.client-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;

    border: 1px solid $background-icon;
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        border: 1px solid $accent-color;
    }

    &:hover .client-card-icon,
    &:focus .client-card-icon{
        fill: $accent-color;
    }
}

.client-card-icon{
    fill: $background-icon;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}